{% extends 'dash/base.html' %}

{% block sub_title %}
  Contact
{% endblock sub_title %}

{% block sub_heading %}
  {{ contact.get_full_name }}
{% endblock sub_heading %}

{% block content %}
  <div class="pure-g">
    <div class="pure-u-1">
      <div class="pure-menu pure-menu-horizontal">
        <ul class="pure-menu-list">
          {% if next %}
            <li class="pure-menu-item">
              <a href="{{ next }}" class="pure-menu-link">
                <i class="fa fa-reply"></i>
              </a>
            </li>
          {% endif %}
          <li class="pure-menu-item">
            <a href="{% url 'sales.order.create' contact.pk %}" class="pure-menu-link">
              <i class="fa fa-plus"></i>
              Create Sales Order
            </a>
          </li>
          <li class="pure-menu-item">
            <a href="{% url 'crm.ticket.create' contact.pk %}" class="pure-menu-link">
              <i class="fa fa-plus"></i>
              Create Ticket
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="pure-g">
    <div class="pure-u-1 pure-u-md-1-2">
      <div class="r-box">
        <table width="100%" class="pure-table pure-table-bordered">
          <tbody>
            {% include 'contact/_contact_detail.html' %}
          </tbody>
        </table>
      </div>
    </div>
    <div class="pure-u-1 pure-u-md-1-2">
      <table width="100%" class="pure-table pure-table-bordered">
        <tbody>
          {% include 'contact/_contact_detail_multi.html' %}
        </tbody>
      </table>
      <br>
    </div>
  </div>
  <div class="pure-g">
    <div class="pure-u-1">
      {% include 'sales_order/_sales_order_list.html' %}
    </div>
  </div>
  <br>
  <div class="pure-g">
    <div class="pure-u-1">
      <table class="pure-table pure-table-bordered" width="100%">
        <thead>
          <tr>
            <th>Number</th>
            <th>Ticket</th>
            <th>Project</th>
            <th>Priority</th>
          </tr>
        </thead>
        <tbody>
          {% for ticket in ticket_list %}
            {% include 'crm/_ticket_in_table_row.html' with show_contact=False %}
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
{% endblock content %}
