{% extends 'dash/base.html' %}
{% load static %}

{% block title %}
  Sales Order {{ object.sales_order_number }}
{% endblock title %}

{% block sub_heading %}
  Sales Order {{ object.sales_order_number }}
{% endblock sub_heading %}

{% block content %}
  <div class="pure-g">
    <div class="pure-u-1">
      <div class="pure-menu pure-menu-horizontal">
        <ul class="pure-menu-list">
          <li class="pure-menu-item">
            <a href="{% url 'sales.order.list' %}" class="pure-menu-link">
              <i class="fa fa-reply"></i>
            </a>
          </li>
          <li class="pure-menu-item">
            <a href="{% url 'sales.order.update' object.pk %}" class="pure-menu-link">
              <i class="fa fa-edit"></i>
              Edit
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="pure-g">
    <div class="pure-u-1">
      <table class="pure-table pure-table-bordered" width="100%">
        <tbody>
          {% include 'sales_order/_sales_order_detail_header.html' with sales_order=object %}
        </tbody>
      </table>
    </div>
  </div>
  <div class="pure-g">
    <div class="pure-u-1 pure-u-md-1-2">
      <div class="r-box">
        <table width="100%" class="pure-table pure-table-bordered small-margin-top">
          <tbody>
            {% include 'sales_order/_sales_order_detail_left.html' with sales_order=object %}
          </tbody>
        </table>
      </div>
    </div>
    <div class="pure-u-1 pure-u-md-1-2">
      <table width="100%" class="pure-table pure-table-bordered small-margin-top">
        <tbody>
          {% include 'sales_order/_sales_order_detail_right.html' with sales_order=object %}
        </tbody>
      </table>
    </div>
  </div>
{% endblock content %}
