{% if sales_order.hours %}
  <tr>
    <td>
      <strong>
        Hours
      </strong>
    </td>
    <td>
      {{ sales_order.hours }}
      {{ sales_order.get_hours_type_display }}
    </td>
  </tr>
{% endif %}
{% if sales_order.value %}
  <tr>
    <td>
      <strong>
        Value
      </strong>
    </td>
    <td>
      &pound;{{ sales_order.value }}
    </td>
  </tr>
{% endif %}
{% if sales_order.start_date %}
  <tr>
    <td>
      <strong>
        Contracted
      </strong>
    </td>
    <td>
      From
      {{ sales_order.start_date|date:'d/m/Y' }}
      to
      {{ sales_order.end_date|date:'d/m/Y' }}
    </td>
  </tr>
{% endif %}
{% if sales_order.maximum_hours_per_ticket %}
  <tr>
    <td>
      <strong>
        Maximum {{ sales_order.get_hours_type_display }}
      </strong>
    </td>
    <td>
      {{ sales_order.maximum_hours_per_ticket }}
    </td>
  </tr>
{% endif %}
