<tr valign="top">
  <td>
    <strong>
      Contact
    </strong>
  </td>
  <td>
    <a href="{% url 'contact.detail' sales_order.contact.pk %}">
      <strong>{{ sales_order.contact.full_name }}</strong>
    </a>
    <br>
    {{ sales_order.contact.address|linebreaksbr }}
  </td>
</tr>
<tr valign="top">
  <td>
    <strong>
      Type
    </strong>
  </td>
  <td>
    {{ sales_order.get_hours_type_display }}
    <small>
      ({{ sales_order.sales_order_type.title }})
    </small>
  </td>
</tr>
<tr valign="top">
  <td>
    <strong>
      Title
    </strong>
  </td>
  <td>
    {{ sales_order.title }}
  </td>
</tr>
{% if sales_order.description %}
  <tr valign="top">
    <td>Description</td>
    <td>
      {{ sales_order.description|linebreaksbr }}
    </td>
  </tr>
{% endif %}
