<tr>
  <td>
    <strong>
      Created
    </strong>
  </td>
  <td>
    {{ sales_order.created|date:'d/m/Y' }}
  </td>
</tr>
<tr>
  <td>
    <strong>
      Created By
    </strong>
  </td>
  <td>
    {{ sales_order.user.get_full_name }}
  </td>
</tr>
