<table class="pure-table pure-table-bordered" width="100%">
  <thead>
    <tr valign="top">
      <th>Number</th>
      {% if not contact %}
        <th>Contact</th>
      {% endif %}
      <th>Title</th>
      <th>Value</th>
      <th>Maximum hours per ticket</th>
      <th>Created</th>
    </tr>
  </thead>
  <tbody>
    {% for x in salesorder_list %}
      <tr valign="top">
        <td>
          <a href="{% url 'sales.order.detail' x.pk %}">
            {{ x.sales_order_number }}
          </a>
        </td>
        {% if not contact %}
          <td>
            <a href="{% url 'contact.detail' x.contact.pk %}">
              {{ x.contact.full_name }}
            </a>
          </td>
        {% endif %}
        <td>
          {{ x.title }}
          {% if x.start_date %}
            <small>
              (from
              {{ x.start_date|date:'d/m/Y' }}
              to
              {{ x.end_date|date:'d/m/Y' }})
            </small>
          {% endif %}
        </td>
        <td>
          {% if x.value %}
            &pound;{{ x.value }}
          {% endif %}
          {% if x.hours %}
            {{ x.hours }} hours
          {% endif %}
        </td>
        <td>
          {% if x.maximum_hours_per_ticket %}
            {{ x.maximum_hours_per_ticket }} hours
          {% endif %}
        </td>
        <td>
          {{ x.created|date:'d/m/Y H:i' }}
        </td>
      </tr>
    {% endfor %}
  </tbody>
</table>
