{% extends 'dash/base.html' %}
{% load static %}

{% block title %}
  {% if contact %}
    Sales Orders for {{ contact }}
  {% else %}
    All Sales Orders
  {% endif %}
{% endblock title %}

{% block sub_heading %}
  {% if contact %}
    Sales Orders for {{ contact }}
  {% else %}
    All Sales Orders
  {% endif %}
{% endblock sub_heading %}

{% block content %}
  <div class="pure-g">
    <div class="pure-u-1">
      <div class="pure-menu pure-menu-horizontal">
        <ul class="pure-menu-list">
          <li class="pure-menu-item">
            {% if contact %}
              <a href="{% url 'contact.detail' contact.pk %}" class="pure-menu-link">
            {% else %}
              <a href="{% url 'project.dash' %}" class="pure-menu-link">
            {% endif %}
            <i class="fa fa-reply"></i>
          </a>
        </li>
        {% if contact %}
          <li class="pure-menu-item">
            <a href="{% url 'sales.order.create' contact.pk %}" class="pure-menu-link">
              <i class="fa fa-plus"></i>
              Sales Order
            </a>
          </li>
        {% endif %}
        {% include 'base/_paginate.html' %}
      </ul>
    </div>
  </div>
  </div>
  <div class="pure-g">
    <div class="pure-u-1">
      {% include 'sales_order/_sales_order_list.html' %}
    </div>
  </div>
  <div class="pure-g">
    <div class="pure-u-1">
      <div class="pure-menu pure-menu-horizontal">
        <ul class="pure-menu-list">
          {% include 'base/_paginate.html' %}
        </ul>
      </div>
    </div>
  </div>
{% endblock content %}
