{% extends 'dash/base.html' %}

{% block sub_title %}
  {% if object %}
    Sales Order {{ object.pk }} for {{ contact }}
  {% else %}
    Create Sales Order
  {% endif %}
{% endblock sub_title %}

{% block sub_heading %}
  {% if object %}
    Sales Order {{ object.pk }} for {{ contact }}
  {% else %}
    Create Sales Order
  {% endif %}
{% endblock sub_heading %}

{% block content %}
  <div class="pure-g">
    <div class="pure-u-1">
      <div class="pure-menu pure-menu-horizontal">
        <ul class="pure-menu-list">
          <li class="pure-menu-item">
            {% if next %}
              <a href="{{ next }}" class="pure-menu-link">
            {% elif object %}
              <a href="{% url 'sales.order.detail' object.pk %}" class="pure-menu-link">
            {% else %}
              <a href="{% url 'sales.order.list' %}" class="pure-menu-link">
            {% endif %}
            <i class="fa fa-reply"></i>
          </a>
        </li>
      </ul>
    </div>
  </div>
  </div>
  <div class="pure-g">
    <div class="pure-u-1">
      {% include '_form.html' with inline_checkbox=True aligned=True %}
    </div>
  </div>
{% endblock %}

{% block script_extra %}
  {{ block.super }}
  {% include 'base/_chosen.html' %}
{% endblock script_extra %}
